@charset "utf-8";

/* CSS Document */
/*reset style*/
html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

html, body {
    background-color: rgb(247, 247, 247);
}

.day {
    cursor: pointer;

}

#dayHeader {
    font-size: 40px;
    text-align: center;
    margin-bottom: 20px;
    margin-top: 15%;
}

#barHeading {
    margin-top: 8%;
    margin-bottom: -350px;

}

#hr {
    width: 205%;
    border: none;
    height: 5px;
    color: rgb(154, 156, 158);
    background-color: rgb(154, 156, 158);
    opacity: .5;
}

.barName {
    font-size: 25px;
    text-decoration: underline;
}

#resultRow {
/*    padding-bottom: 100px;*/
    margin-top: 15%;
}

.barPictures:hover {
    cursor: pointer;
}

.searchResults {
    clear: both;
}

#barSearchResults {
    margin-top: 350px;
}

.three {
    margin-left: 0px;
}

.resultPicture {
    clear: both;
    float: left;
}

#videoBanner {
    position: absolute;
    top: 10%;
    transform: translate(-50%, -60%);
    min-width: 182%;
    min-height: 100%;
    width: auto;
    height: auto;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

#h3Bottom {
    margin-left: 20px;
}

img {
    height: 450px;
    width: 450px;
}

h1 {
    position: relative;
    top: 100px;
    text-align: center;
    font-family: 'Playfair Display', serif;
    font-size: 8em;
}

.pictures {
    margin-top: 10px;
    margin-left: 200px;
    width: 1024px;

}

#logo {
/*    position: relative;
    top: 60px;
    text-align: center;
    margin-left: 270px;
    max-width: 940px;*/
    position: relative;
    top: 10px;
    text-align: center;
    opacity:1;
}

#week {
    position: relative;
    top: 30px;
    text-align: center;
}

.dropdown-menu {
  left: 50%;
  right: auto;
  text-align: center;
  transform: translate(-50%, 0);
}


#menu1 {
    padding-left: 50px;
    padding-right: 50px;
    background-color: rgb(178, 178, 176);
    border: none;
    opacity: 3;


}

.image {
    position: relative;
}

#top1 {

    float: left;
    margin: 0;
    margin-top: 20px;
    overflow: none;
    padding: 0;
    margin: auto;
    display: table
}

#top2 {

    float: left;
    margin: 0;
    margin-top: 20px;
    overflow: none;
    padding: 0;
    margin: auto;
    display: table
}

#top3 {

    float: left;
    margin: 0;
    margin-top: 20px;
    overflow: none;
    padding: 0;
    margin: auto;
    display: table
}

#top4 {

    float: left;
    margin: 0;
    margin-top: 20px;
    overflow: none;
    padding: 0;
    margin: auto;
    display: table
}

#middle1 {
    float: left;
    margin: 0;
    margin-top: 0;
    overflow: none;
    padding: 0;
}

#middle2 {
    float: left;
    margin: 0;
    margin-top: 0;
    overflow: none;
    padding: 0;
}

#middle3 {
    float: left;
    margin: 0;
    margin-top: 0;
    overflow: none;
    padding: 0;
}

#middle4 {
    float: left;
    margin: 0;
    margin-top: 0;
    overflow: none;
    padding: 0;
}

#bottom1 {
    float: left;
    margin: 0;
    margin-top: 0;
    overflow: none;
    padding: 0;
}

#bottom2 {
    float: left;
    margin: 0;
    margin-top: 0;
    overflow: none;
    padding: 0;
}

#bottom3 {
    float: left;
    margin: 0;
    margin-top: 0;
    overflow: none;
    padding: 0;
}

#bottom4 {
    float: left;
    margin: 0;
    margin-top: 0;
    overflow: none;
    padding: 0;
    margin-bottom: 10%;
}

#map {
    height: 400px;
    width: 700px;
    margin: 0;
    padding: 0;
    pointer-events: none;
    margin-bottom: 10%;
}
}

h2 {
    font-family: 'Playfair Display', serif;
}


#footer {
    text-align: center;
    background-color: rgb(154, 156, 158);
    height: 40px;
    padding-top: 10px;
    margin-top: 20px;
    opacity:0.50;
}

