@charset "utf-8";

/* CSS Document */

html, body {
    background-color: rgb(247, 247, 247);
}

.day {
    cursor: pointer;
}

#dayHeader {
    font-size: 40px;
    text-align: center;
    margin-bottom: 20px;
}

#barHeading {
    margin-top: 200px;
    margin-bottom: -150px;
}

#hr {
    width: 205%;
    border: none;
    height: 5px;
    color: rgb(154, 156, 158);
    background-color: rgb(154, 156, 158);
    opacity: .5;
}

.barName {
    font-size: 25px;
    text-decoration: underline;
}

#resultRow {
    padding-bottom: 100px;
}

.barPictures:hover {
    cursor: pointer;
}

.searchResults {
    clear: both;
}

#barSearchResults {
    margin-top: 350px;
}

.three {
    margin-left: 0px;
}

.resultPicture {
    clear: both;
    float: left;
}

video {
    position: absolute;
    top: 10%;
    transform: translate(-50%, -50%);
    min-width: 182%;
    min-height: 100%;
    width: auto;
    height: auto;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

#h3Bottom {
    margin-left: 20px;
}

img {
    height: 450px;
    width: 450px;
}

h1 {
    position: relative;
    top: 100px;
    text-align: center;
    font-family: 'Playfair Display', serif;
    font-size: 8em;
}

.pictures {
    margin-top: 10px;
    margin-left: 200px;
    width: 1024px;
}

#logo {
    position: relative;
    top: 60px;
    text-align: center;
    margin-left: 270px;
    max-width: 940px;
}

#week {
    margin-left: 620px;
    margin-top: 50px;
}

#menu1 {
    padding-left: 50px;
    padding-right: 50px;
    background-color: rgb(178, 178, 176);
    border: none;
    opacity: .75;
}

.image {
    position: relative;
}

#top1 {
    float: left;
    margin: 0;
    margin-top: 20px;
    overflow: none;
    padding: 0;
}

#top2 {
    float: left;
    margin: 0;
    margin-top: 20px;
    overflow: none;
    padding: 0;
}

#top3 {
    float: left;
    margin: 0;
    margin-top: 20px;
    overflow: none;
    padding: 0;
}

#top4 {
    float: left;
    margin: 0;
    margin-top: 20px;
    overflow: none;
    padding: 0;
}

#middle1 {
    float: left;
    margin: 0;
    margin-top: 0;
    overflow: none;
    padding: 0;
}

#middle2 {
    float: left;
    margin: 0;
    margin-top: 0;
    overflow: none;
    padding: 0;
}

#middle3 {
    float: left;
    margin: 0;
    margin-top: 0;
    overflow: none;
    padding: 0;
}

#middle4 {
    float: left;
    margin: 0;
    margin-top: 0;
    overflow: none;
    padding: 0;
}

#bottom1 {
    float: left;
    margin: 0;
    margin-top: 0;
    overflow: none;
    padding: 0;
}

#bottom2 {
    float: left;
    margin: 0;
    margin-top: 0;
    overflow: none;
    padding: 0;
}

#bottom3 {
    float: left;
    margin: 0;
    margin-top: 0;
    overflow: none;
    padding: 0;
}

#bottom4 {
    float: left;
    margin: 0;
    margin-top: 0;
    overflow: none;
    padding: 0;
}

#map {
    height: 700px;
    width: 700px;
    margin: 0;
    padding: 0;
}

h2 {
    font-family: 'Playfair Display', serif;
}

#footer {
    text-align: center;
    background-color: rgb(154, 156, 158);
    height: 50px;
    padding-top: 10px;
    margin-top: 20px;
}

