<!DOCTYPE html>
<html lang="en-US">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Template</title>
    <!--    FONTS-->
    <link href="https://fonts.googleapis.com/css?family=Playfair+Display" rel="stylesheet">
    <!-- Bootstrap  -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="icon" type="image/png" href="photos/Logofavicon.png">
    <link rel="stylesheet" type="text/css" href="../css/styles.css">
</head>

<body>
    <div class="container">
        <video id='videoBanner' poster="../photos/LGHH-poster.png" autoplay loop>
            <source id='videoBanner' src="../photos/LGHH-media.mp4" type="video/mp4">
            <source id='videoBanner' src="../photos/LLGHH-media.webm" type="video/webm">
        </video>
    </div>
    <br>
    <div id="logo">
        <div class="container">
            <div class="row">
                <div class="col-md-9">
                    <a href="mainpage.html">
                        <img src="../photos/Logo HH2.png">
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div id="week">
        <div class="dropdown">
            <button class="btn btn-default dropdown-toggle" type="button" id="menu1" data-toggle="dropdown">PICK A DAY
                <span class="caret"></span></button>
            <ul class="dropdown-menu" role="menu" aria-labelledby="menu1">
                <li role="presentation"><a role="menuitem" tabindex="-1" value="Monday" class="day">Monday</a></li>
                <li role="presentation"><a role="menuitem" tabindex="-1" value="Tuesday" class="day">Tuesday</a></li>
                <li role="presentation"><a role="menuitem" tabindex="-1" value="Wednesday" class="day">Wednesday</a></li>
                <li role="presentation"><a role="menuitem" tabindex="-1" value="Thursday" class="day">Thursday</a></li>
                <li role="presentation"><a role="menuitem" tabindex="-1" value="Friday" class="day">Friday</a></li>
                <li role="presentation"><a role="menuitem" tabindex="-1" value="Saturday" class="day">Saturday</a></li>
                <li role="presentation"><a role="menuitem" tabindex="-1" value="Sunday" class="day">Sunday</a></li>
            </ul>
        </div>
    </div>
    <!--     <br>
    <br>
    <br> -->
    <h1 id="barHeading">BARS</h1>
    <div class="container" id="barSearchResults">
        <div class="dayOfTheWeek">
        </div>
        <div class="row" id="resultRow">
        </div>
    </div>
    <div class="pictures">
        <div class="container-fluid">
            <div class="row">
                <div class="image">
                    <section id="top1">
                        <img src="../photos/corrected/ships.png" class="img-responsive barPictures" style="width:250px; height: 250px" alt="Image" value="Ships Lounge">
                        <div id="label"></div>
                    </section>
                    <section id="top2">
                        <img src="../photos/corrected/Truck-Yard-in-Dallas_201240.png" class="img-responsive barPictures" style="width:250px; height: 250px" alt="Image" value="Truck Yard">
                        <div id="label1"></div>
                    </section>
                    <section id="top3">
                        <img src="../photos/corrected/dallasBearKitchen.png" class="img-responsive barPictures" style="width:250px; height:250px" alt="Image" value="Dallas Beer Kitchen">
                        <div id="label2"></div>
                    </section>
                    <section id="top4">
                        <img src="../photos/corrected/libertineD.png" class="img-responsive barPictures" style="width:250px; height:250px" alt="Image" value="Libertine">
                        <div id="label4"></div>
                    </section>
                </div>
            </div>
            <!-- -------------------- 2NDROW -->
            <div class="row">
                <div class="image">
                    <section id="middle1">
                        <img src="../photos/corrected/dallas-the-old-monk.png
" class="img-responsive barPictures" style="width:250px; height: 250px" alt="Image" value="The Old Monk">
                        <div id="labelm"></div>
                    </section>
                    <section id="middle2">
                        <img src="../photos/corrected/oldcrow.png" class="img-responsive barPictures" style="width:250px; height: 250px" alt="Image" value="The Old Crow">
                        <div id="labelm1"></div>
                    </section>
                    <section id="middle3">
                        <img src="../photos/corrected/veritasWine.png" class="img-responsive barPictures" style="width:250px; height: 250px" alt="Image" value="Veritas Wine Room">
                        <div id="labelm3"></div>
                    </section>
                    <section id="middle4">
                        <img src="../photos/corrected/lgtaps.png" class="img-responsive barPictures" style="width:250px; height: 250px" alt="Image" value="LG Taps">
                        <div id="labelm4"></div>
                    </section>
                </div>
            </div>
        </div>
        <!----------------------3RDROW-->
        <div class="row three">
            <div class="image">
                <section id="bottom1">
                    <img src="../photos/corrected/rapscallion.png" class="img-responsive barPictures" style="width:250px; height: 250px" alt="Image" value="Rapscallion">
                    <div id="labelb"></div>
                </section>
                <section id="bottom2">
                    <img src="../photos/corrected/singlewide.png" class="img-responsive barPictures" style="width: 250px; height: 250px" alt="Image" value="Single Wide">
                    <div id="labelb1"></div>
                </section>
                <section id="bottom3">
                    <img src="../photos/corrected/porch.png" class="img-responsive barPictures" style="width:250px; height: 250px" alt="Image" value="The Porch">
                    <div id="labelb3"></div>
                </section>
                <section id="bottom4">
                    <img src="../photos/corrected/victortangos.png" class="img-responsive barPictures" style="width: 250px; height: 250px" alt="Image" value="Victor Tangos">
                    <div id="labelb4"></div>
                </section>
            </div>
        </div>
    </div>
    <br>
    <br>
    <br>
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-md-offset-4">
                <div>
                    <h2 style="text-align: center;"><b>Lower Greenville Map</b></h2>
                </div>
            </div>
            <br>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-md-offset-2">
                    <div id="map">
                    </div>
                </div>
                <div class="col-md-6">
                </div>
            </div>
        </div>
    </div>

        <div id="footer">
          <div class="container">
            <p class="muted credit">&copy; Lower Greenville Happy Hour</p>
          </div>
        </div>


        <!-- JQuery link -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <!-- Bootstrap Js -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <!-- script.js -->
        <script src="../Javascript/script.js"></script>
        <!-- Google Maps API -->
        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAZ-Mq3htwyC7pOx3KHwgwgu-tGRH9cpCE&libraries=places&callback=initMap" async defer></script>
        <script>
        // This example requires the Places library. Include the libraries=places
        // parameter when you first load the API. For example:
        // <script src="https://maps.googleapis.com/maps/api/js?key=YOUR_API_KEY&libraries=places">

        var map;
        var infowindow;

        function initMap() {
            var lowerGreenville = {
                lat: 32.814,
                lng: -96.771
            };

            map = new google.maps.Map(document.getElementById('map'), {
                center: lowerGreenville,
                zoom: 15
            });

            infowindow = new google.maps.InfoWindow();
            var service = new google.maps.places.PlacesService(map);
            service.nearbySearch({
                location: lowerGreenville,
                radius: 500,
                type: ['bar']
            }, callback);
        }

        function callback(results, status) {
            if (status === google.maps.places.PlacesServiceStatus.OK) {
                for (var i = 0; i < results.length; i++) {
                    createMarker(results[i]);
                }
            }
        }

        function createMarker(place) {
            var placeLoc = place.geometry.location;
            var marker = new google.maps.Marker({
                map: map,
                position: place.geometry.location
            });

            google.maps.event.addListener(marker, 'click', function() {
                infowindow.setContent(place.name);
                infowindow.open(map, this);
            });
        }
        </script>
</body>

</html>
